.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.nav-items {
  list-style: none;
}
.nav-items:last-child {
  margin-right: 1.5rem;
}
.nav-links {
}
.nav-links:link,
.nav-links:visited {
  display: inline-block;
  color: #444;
  text-decoration: none;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    rgb(157, 157, 175) 50%
  );
  background-size: 240%;
  transition: all 0.5s;
}
.nav-links:hover,
.nav-links:active {
  color: rgb(48, 45, 45);
  background-color: grey;
  background-position: 100%;
  transform: translateX(1rem);
}

@media (max-width: 600px) {
  .nav-list {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
}
