/* background-color: #b3d4fc;
/* background-color: rgb(149, 144, 143); */
/* background-color: #0a2540; */
/* background-color: #b8a9c0; */
/* background-color: #eb7e22; */
/* background-color: #fbe5d3; */
/* background-color: #fdf2e9; */
/* background-color: #edeeff; */
/* color: #333; */
/* color: #555; */
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
/* header {
  height: 100vh;
  position: relative;
  background-image: url(img/hero-1.jpg);
  background-size: cover;
} */
/* nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
} */
.main-nav li {
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin: 2rem;
  /* height: 9.6rem; */
}
/* .header-container {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

/* .header-container-inner {
  width: 50%;
} */
/* .logo { */
/* border: 2px solid rgb(4, 54, 52);
  position: relative;
  right: 55%;
  top: 50%; */
/* width: 30vh; */

/* border-radius: 50%; */
/* padding: 20px;
  font-size: 40px; */
/* } */
/* h1 { */
/* font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05; */
/* font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333; */
/* } */

p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

/* .btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(4, 54, 52);
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 9px;
} */
.hero-img {
  width: 100%;
}
h2 {
  font-size: 44px;
  margin-bottom: 48px;
}

section {
  background-color: #b8a9c0;
  padding: 96px 0;
}
/* .cards-section {
  background-color: #bdbfa6;
} */
/* .cards {
  display: flex;
} */

.footer {
  background-color: rgba(4, 54, 52);
  height: 10rem;
}
/*
LAYERED SECTION - AFTER HERO
*/
.layered {
  max-width: 130rem;
  /* background-color: #b8a9c0; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
/* this should be styles as h2*/
.heading-secondary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.layered-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.layered-images {
  background-color: #fdf2e9;
  /* padding: 9.6rem 0; */
}
.layered-btn:link,
.layered-btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  transition: background-color 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: #eb7e22;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: rgb(4, 54, 52);
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fff;

  /* border: 3px solid #fff; */
  /* Add border inside- use the INSET keyword that comes with the BOX-SHADOW */
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem;
}
.users {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.users-profiles {
  display: flex;
}

.users-profiles img {
  height: 4.8rem;
  width: 6.4rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: solid #fdf2e9 3px;
}
.users-profiles img:last-child {
  margin: 0;
}
.users-text {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 4.9rem;
}
.users-text span {
  color: rgb(5, 128, 124);
  font-weight: 700;
}
.list {
  list-style-type: none;
}

/* HOW IT WORKS SECTION */

.how-it-works {
  background-color: #b3d4fc;
}
.how-it-works-container {
  /* background-color: #b3d4fc; */
  display: flex;
  justify-content: space-evenly;
}
.how-it-works-cards {
  border: #333 solid 1px;
  padding: 2rem;
  margin: 0 1rem;
}
.how-it-works-title,
.lessons-list-title {
  text-align: center;
}
