.how-it-works-bg {
  /* mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  padding: 10rem 10rem 0 10rem;

  /* transform: scale(0.9); */
}

.howItWorks-title {
  font-size: 4.4rem;
  color: #444;
  letter-spacing: 0.3rem;
  text-align: center;
  margin: 5rem auto;
  /* padding-top: 10rem; */
}

.how-it-works-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 9rem;
  position: relative;
}

.text-box {
  text-align: center;
  background-color: #ffe066;
  box-shadow: 0px 5px 10px 0;
}

.margin-top-space {
  margin-top: 9rem;
}
.heading-h3 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  color: #0a2540;
  margin-bottom: 1rem;
  margin-top: 0.7rem;
}

.steps {
  font-size: 8.6rem;
  font-weight: 600;
  color: rgb(148, 150, 194);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#display-on-media {
  display: none;
  font-size: 8.6rem;
  font-weight: 600;
  color: green;
}
.image-box {
  background-color: #0a2540;
  padding: 12rem;
  position: relative;
  max-width: 40%;
  max-height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.list-icon {
  height: 10rem;
  border: solid 2rem green;
  border-radius: 50%;
  margin-bottom: 2rem;
  background-color: #eb7e22;
  padding: 0.5rem;
  color: blue;
}
.list-icon:hover {
  background-color: #fff;
}
.description {
  display: inline-block;
  line-height: 1.8rem;
  list-style: none;
  font-size: 2rem;
  color: #444;
  font-weight: 400;
  line-height: 1.5;
  max-width: 60%;
  letter-spacing: 0.1rem;
  margin-bottom: 6rem;
}
.a-display--block {
  display: block;
}

.left-arrow {
  position: relative;
  clip-path: polygon(
    0% 50%,
    50% 0%,
    50% 25%,
    100% 25%,
    100% 75%,
    50% 75%,
    50% 100%
  );
}

.right-arrow {
  position: relative;
  clip-path: polygon(
    50% 25%,
    50% 0%,
    100% 50%,
    50% 100%,
    50% 75%,
    0% 75%,
    0% 25%
  );
}
/* 
.image-box::before {
  content: "";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: #fdf2e9;
  background-color: #473a2e;
}
.image-box::after {
  content: "";
  display: block;
  width: 50%;
  padding-bottom: 45%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: #efab6f;
} */
/* .grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
} */

/* .grid--1-cols {
  grid-template-columns: 1fr;
  justify-content: center;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--centre-v {
  align-items: center;
} */

/* @media how it works */

@media (min-width: 1800px) {
  html {
    font-size: 80%;
  }
  .how-it-works-container {
    column-gap: 9rem;
    margin-bottom: 12rem;
    transform: scale(0.9);
  }
}
@media (max-width: 1800px) {
  html {
    font-size: 50%;
  }
  .how-it-works-container {
    column-gap: 9rem;
    margin-bottom: 12rem;
    transform: scale(0.9);
  }
}
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
  .how-it-works-container {
    display: flex;
    justify-content: center;
  }
  .image-box {
    display: none;
  }
  #display-on-media {
    display: block;
    font-size: 8.6rem;
    font-weight: 600;
    color: green;
  }
  .how-it-works-bg {
    padding: 4rem;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
  .how-it-works-container {
    display: flex;
    justify-content: center;
  }
  .image-box {
    display: none;
  }
  #display-on-media {
    display: block;
    font-size: 8.6rem;
    font-weight: 600;
    color: green;
  }
  .how-it-works-bg {
    padding: 2rem;
  }
  .howItWorks-title {
    font-size: 3.4rem;
    color: #444;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 5rem auto;
    /* padding-top: 10rem; */
  }
}
