.lesson-container {
  /* background-color: rgb(251, 241, 241);
  background-color: rgb(140, 139, 139); */

  padding: 10rem;
}

.lesson-header {
  /* background-color: rgb(37, 5, 10); */
}
.lesson-carousel {
  background-color: #1864ab;
  max-width: 80%;
  margin: 0 auto;
  padding: 3.2rem 4.8rem 3.2rem 4.8rem;
  border-radius: 0.8rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.25);
}

.lesson-image {
  max-width: 50%;
  border-radius: 0.8rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.25);
}

.arabic-word {
  font-size: 10.8rem;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 3.2rem;
  color: #dbe3f0;
  text-align: center;
}
.english-word {
  font-size: 2.6rem;
  margin-bottom: 0.4rem;
  color: #dbe3f0;
  text-align: center;
  letter-spacing: 1px;
}
.genderType {
  font-size: 1.5rem;
  color: #dbe3f0;
  text-align: center;
  font-style: italic;
  letter-spacing: 1px;
}
.title-topic {
  font-size: 3.8rem;
  font-weight: 600;
  color: #021d19;
  text-align: center;
}
.lesson-paragraph {
  font-size: 1.8rem;
  color: #021d19;
  text-align: center;
  margin-bottom: 8rem;
}

.link {
  list-style: none;
}

/* CONTROLS */
.lesson-btn {
  background-color: #f87000;
  border: none;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #444;
  background-color: rgb(224, 217, 217);
  padding: 3rem;
}

.btn-right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  color: #444;
  background-color: rgb(224, 217, 217);
  padding: 3rem;
}

/* @media */

@media (max-width: 838px) {
  .lesson-image {
    max-width: 50%;
    max-height: 50%;
  }
}
@media (max-width: 600px) {
  .lesson-carousel {
    max-width: 100%;
    border-radius: 0.8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12rem;
  }
  .lesson-image {
    max-width: 80%;
  }
}
