/* LESSON PAGE STYLING*/
.lesson-carousel {
  background-color: #125b50;
  width: 70%;
  margin: 10rem auto;
  padding: 3.2rem 4.8rem 3.2rem 10.6rem;
  border-radius: 0.8rem;
  position: relative;

  display: flex;
  align-items: center;
  gap: 20.6rem;
}

.lesson-image {
  height: 20rem;
  border-radius: 0.8rem;
  transform: scale(1.5);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.25);
}

.arabic-word {
  font-size: 10.8rem;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 3.2rem;
  color: #dbe3f0;
}
.english-word {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
  color: #dbe3f0;
}
.genderType {
  font-size: 1.2rem;
  color: #dbe3f0;
}
.title-topic {
  font-size: 3.8rem;
  font-weight: 600;
  color: #021d19;
  text-align: center;
}
.lesson-paragraph {
  font-size: 1.8rem;
  color: #021d19;
  text-align: center;
}
.lessons {
  list-style: none;
  margin-left: 2rem;
  display: flex;
  gap: 3rem;
}
.link {
  list-style: none;
}

/* CONTROLS */
.lesson-btn {
  background-color: #f87000;
  border: none;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn-right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
.lesson-dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 3.2rem);
  display: flex;
  gap: 1.2rem;
}

.lesson-dot {
  height: 1.2rem;
  width: 1.2rem;
  background-color: #fff;
  border: 2px solid #0a2540;
  border-radius: 50%;
  cursor: pointer;
}
.dot-fill {
  background-color: #125b50;
}

/*QUIZ*/
/* 
.quiz-container {
  background-color: darkslategrey;
  border: solid 3rem darkslategrey;
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 80rem;
  margin: 0 auto;
  margin-top: 20rem;
  padding: 3rem 1rem;
}
.arabic-word-quiz {
  display: flex;
  justify-content: center;
  color: rgb(32, 54, 54);
}
.word-options-btns,
.genderType-prev {
  background-color: darkslategrey;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 1px;
} */
/* .genderType-prev {
  background-color: #b3d4fc;
} */
/* .fem-words {
  text-align: center;
  margin-top: 0;
} */
/* .msg {
  margin-bottom: 6rem;
  font-size: 1.8rem;
  text-align: center;
  color: darkslategrey;
}

.btn-previous {
} */
/*//////////////////////*/
/* .layered-btn:link,
.layered-btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  transition: background-color 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: #eb7e22;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: rgb(4, 54, 52);
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
} */
/* .btn--outline:hover,
.btn--outline:active {
  background-color: #fff;

  
  box-shadow: inset 0 0 0 3px #fff;
} */
/*/////////////////////////////////////*/
.quiz-carousel {
  /* background-color: #125b50; */
  border: solid 2rem #125b50;
  width: 60%;
  margin: 10rem auto;
  padding: 3.2rem 4.8rem 3.2rem 10.6rem;
  border-radius: 0.8rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-arabic-word {
  font-size: 10.8rem;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 1.2rem;
  color: #09302a;
}
.quiz-english-word {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
  color: #131820;
}

.title-topic {
  font-size: 3.8rem;
  font-weight: 600;
  color: #021d19;
  text-align: center;
}

.quiz-btn-left {
  left: -4.5rem;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #09302a;
  color: #fff;
}
.quiz-btn-right {
  right: -4.5rem;
  top: 50%;
  transform: translate(50%, -50%);
  background-color: #09302a;
  color: #fff;
}
.quiz-word-options-btns {
  /* background-color: darkslategrey; */
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 0.4rem;
}

.quiz-word-options-btns,
.quiz-word-options-btns {
  background-color: rgb(38, 71, 61);
  color: #fff;
}

.quiz-word-options-btns:hover,
.quiz-word-options-btns:active {
  background-color: rgb(120, 149, 17);
  box-shadow: inset 0 0 0 3px #fff;
}
.msg {
  font-weight: 500;
  color: #09302a;
}
