/*QUIZ*/
.quiz-bg-container {
  /* background-color: hsl(240, 0%, 49%); */
  padding: 10rem;
}
.quiz-carousel {
  /* border: solid 2rem #125b50; */

  background-color: #ffe066;
  max-width: 85rem;
  margin: 0 auto;
  padding: 3.2rem 4.8rem 3.2rem 4.8rem;
  margin-top: 8rem;
  border-radius: 0.8rem;
  position: relative;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.quiz-arabic-word {
  font-size: 10.8rem;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 1.2rem;
  color: #2b8a3e;
  /* color: #e67700; */
}
.quiz-english-word {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
  color: #e67700;
}

.title-topic {
  font-size: 3.8rem;
  font-weight: 600;
  color: #021d19;
  text-align: center;
}

.quiz-btn-left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #444;
  background-color: rgb(224, 217, 217);
  padding: 3rem;
}
.quiz-btn-right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  color: #444;
  background-color: rgb(224, 217, 217);
  padding: 3rem;
}
.quiz-word-options-btns {
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 0.4rem;
}

.quiz-word-options-btns,
.quiz-word-options-btns {
  background-color: #2b8a3e;
  color: #fff;
}

.quiz-word-options-btns:hover,
.quiz-word-options-btns:active {
  background-color: rgb(111, 161, 150);
  /* box-shadow: inset 0 0 0 3px #fff; */
  padding: 2rem;
}
.msg {
  font-size: 2rem;
  color: #2b8a3e;
  margin-bottom: 2rem;
  font-style: italic;
}

/* @media */

@media (max-width: 400px) {
  .quiz-word-options-btns,
  .quiz-word-options-btns {
    display: block;
    width: 100%;
  }
}
